# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg
src/*.egg-info/

# Virtual environments
.venv/
venv/
env/

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Testing
.pytest_cache/
.coverage
htmlcov/

# OS
.DS_Store
Thumbs.db
